@page "/makes/create/"
@inject HttpClient _client
@inject NavigationManager _navManager
@implements IDisposable
@inject HttpInterceptorService _interceptor

<h3 class="card-title">Add a new make</h3>
<hr />
<br />

<FormComponent ButtonText="Add make" Make="make" OnValidSubmit="@CreateMake"> </FormComponent>

@code
{
    // All values received as input in the form get bound to this object.
    private Make make = new Make();

    private async Task CreateMake()
    {
        // Monitor API request and handle errors if there are any.
        _interceptor.MonitorEvent();

        await _client.PostAsJsonAsync(Endpoints.MakesEndpoint, make);
        _navManager.NavigateTo("/makes/");
    }

    public void Dispose()
    {
        _interceptor.DisposeEvent();
    }
}