@* {id:int} makes it so .NET knows this page expects a parameter called id of the data type int. *@
@page "/makes/edit/{id:int}"
@inject HttpClient _client
@inject NavigationManager _navManager
@implements IDisposable
@inject HttpInterceptorService _interceptor

<h3>Edit</h3>

<FormComponent ButtonText="Update make" OnValidSubmit="@EditMake" Make="make"> </FormComponent>

@code
{
    [Parameter] public int id { get; set; }
    Make make = new Make();

    protected async override Task OnParametersSetAsync()
    {
        // Monitor API request and handle errors if there are any.
        _interceptor.MonitorEvent();

        // Fetch from API in server project.
        make = await _client.GetFromJsonAsync<Make>($"{Endpoints.MakesEndpoint}{id}");
    }

    private async Task EditMake()
    {
        // Monitor API request and handle errors if there are any.
        _interceptor.MonitorEvent();

        // Put to API in server project.
        await _client.PutAsJsonAsync($"{Endpoints.MakesEndpoint}{id}", make);
        _navManager.NavigateTo("/makes/");
    }

    public void Dispose()
    {
        _interceptor.DisposeEvent();
    }
}
