@page "/colours/"
@inject HttpClient _client
@inject IJSRuntime js
@attribute [Authorize]
@implements IDisposable
@inject HttpInterceptorService _interceptor
@*Code here automatically refreshes sort of like a while loop everytime any data changes.*@

<h3 class="card-title">Car Colours</h3>
<hr />
<br />

<a href="/colours/create" class="btn btn-secondary">
    <span class="oi oi-plus">
        Add a new colour
    </span>
</a>

@if (colours == null)
{
    <div class="alert alert-info">
        Loading colours...
    </div>
}
else
{
    <table class="table table-responsive">
        <thead>
            <tr>
                <th>Name</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var colour in colours)
            {
                <tr>
                    <td>@colour.Name</td>
                    <td>
                        <a href="/colours/view/@colour.Id" class="btn btn-primary">
                            <span class="oi oi-book"></span>
                        </a>
                        <a href="/colours/edit/@colour.Id" class="btn btn-warning">
                            <span class="oi oi-pencil"></span>
                        </a>
                        <button class="btn btn-danger" @onclick="@(() => Delete(colour.Id))">
                            <span class="oi oi-delete"></span>
                        </button>
                    </td>
                </tr>

            }
        </tbody>
    </table>
}

@code
{
    private List<Colour> colours;

    // One of the component callback methods. This runs when the component intializes. Used for initialization.
    protected async override Task OnInitializedAsync()
    {
        // Monitor API request and handle errors if there are any.
        _interceptor.MonitorEvent();

        colours = await _client.GetFromJsonAsync<List<Colour>>(Endpoints.ColoursEndpoint);
    }

    private async Task Delete(int colourId)
    {
        var colour = colours.First(colour => colour.Id == colourId);

        if (await js.InvokeAsync<bool>("confirm", $"Are you sure you want to delete the colour \"{colour.Name}\"?"))
        {
            // Monitor API request and handle errors if there are any.
            _interceptor.MonitorEvent();

            await _client.DeleteAsync($"{Endpoints.ColoursEndpoint}{colourId}");
            // Refresh cached list of colours
            await OnInitializedAsync();
        }
    }

    public void Dispose()
    {
        _interceptor.DisposeEvent();
    }
}
