@* {id:int} models it so .NET knows this page expects a parameter called id of the data type int. *@
@page "/models/edit/{id:int}"
@inject HttpClient _client;
@inject NavigationManager _navManager;

<h3>Edit</h3>

<FormComponent ButtonText="Update model" OnValidSubmit="@EditModel" Model="model"> </FormComponent>

@code
{
    [Parameter] public int id { get; set; }
    Model model = new Model();

    protected async override Task OnParametersSetAsync()
    {
        // Fetch from API in server project.
        model = await _client.GetFromJsonAsync<Model>($"{Endpoints.ModelsEndpoint}{id}");
    }

    private async Task EditModel()
    {
        // Put to API in server project.
        await _client.PutAsJsonAsync($"{Endpoints.ModelsEndpoint}{id}", model);
        _navManager.NavigateTo("/models/");
    }
}
