@page "/unauthorized"

<h1 class="text-danger">Oh no, an unauthorized error.</h1>
<h2>You are not authorized to access this resource. If you think this is a mistake, please contact the administrator.</h2>