@page "/bookings/create/"
@inject HttpClient _client
@inject NavigationManager _navManager
@implements IDisposable
@inject HttpInterceptorService _interceptor

<h3 class="card-title">Add a new booking</h3>
<hr />
<br />

<FormComponent ButtonText="Add booking" OnValidSubmit="@CreateBooking" Booking="booking"></FormComponent>

@code
{
    // All values received as input in the form get bound to this object.
    private Booking booking = new Booking { DateOut = DateTime.Now.Date };

    private async Task CreateBooking()
    {
        // Monitor API request and handle errors if there are any.
        _interceptor.MonitorEvent();

        await _client.PostAsJsonAsync(Endpoints.BookingsEndpoint, booking);
        _navManager.NavigateTo("/bookings/");
    }

    public void Dispose()
    {
        _interceptor.DisposeEvent();
    }
}