@* {id:int} customers it so .NET knows this page expects a parameter called id of the data type int. *@
@page "/bookings/view/{id:int}"
@inject HttpClient _client
@implements IDisposable
@inject HttpInterceptorService _interceptor

<h3>Viewing details for booking @booking.Id.</h3>

<FormComponent Booking="booking" Disabled="true"> </FormComponent>

@code
{
    [Parameter] public int id { get; set; }
    Booking booking = new Booking();

    protected async override Task OnParametersSetAsync()
    {
        // Monitor API request and handle errors if there are any.
        _interceptor.MonitorEvent();

        // Fetch from API in server project.
        booking = await _client.GetFromJsonAsync<Booking>($"{Endpoints.BookingsEndpoint}{id}");
    }

    public void Dispose()
    {
        _interceptor.DisposeEvent();
    }
}
