@page "/vehicles/view/{id:int}"
@inject HttpClient _client
@implements IDisposable
@inject HttpInterceptorService _interceptor

@if (vehicle != null && vehicle.Make != null && vehicle.Model != null)
{
    <h3>
        Viewing details for the vehicle @vehicle.Make.Name @vehicle.Model.Name
    </h3>
}
else
{
    <h3>
        Loading vehicle details...
    </h3>
}

<FormComponent Vehicle="vehicle" Disabled="true"> </FormComponent>

@code
{
    [Parameter] public int id { get; set; }
    Vehicle vehicle = new Vehicle();

    protected async override Task OnParametersSetAsync()
    {
        // Monitor API request and handle errors if there are any.
        _interceptor.MonitorEvent();

        // Fetch from API in server project.
        vehicle = await _client.GetFromJsonAsync<Vehicle>($"{Endpoints.VehiclesEndpoint}{id}");
    }

    public void Dispose()
    {
        _interceptor.DisposeEvent();
    }
}
